R (v3.10.12)
dplyr(v1.1.2)
MASS (v7.3-60) 
fitdistrplus (v1.1-11)
GenomicFeatures (v1.52.1)
GenomicAlignments (v1.36.0)
stringr (v1.5.0)
cutadapt (v4.4)
bowtie2 (v2.5.1)
SAMtools (v1.17)
Picard2 (v3.0.0)
Python (v3.10.12)
